<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/lefty.css">
    <link rel="icon" type="image/png" href="/static/favicon.png">
    <title>lefty</title>
</head>
<body>
    <nav class="navbar is-primary py-3">
        <div class="container">
            <div class="navbar-brand">
                <a class="navbar-item" href="/">
                    <img src="/static/lefty.png" alt="lefty">
                </a>
            </div>
        </div>
    </nav>

    <section class="section">
        <div class="container">
            <div id="app">
                <div v-if="products.length === 0" class="has-text-centered">
                    <img src="/static/happy_music.svg" alt="" style="width: 30%;">
                    <p class="my-5" v-if="search === ''">
                        Sorry, I couldn't find any products. Please wait until the update process is finished
                        and reload the page.
                    </p>
                    <div class="my-5" v-else>
                        Sorry, your search didn't return any results.
                        <div class="my-4">
                            <button class="button is-link" @click="resetSearchTerm">Reset your search term</button>
                        </div>
                    </div>
                </div>
                <div v-else>
                    <h4 class="is-4 title heading">Guitars and basses</h4>
                    <div class="columns">
                        <div class="column is-4">
                            <div class="field">
                                <label class="label" for="search">Search term</label>
                                <div class="control">
                                    <input
                                            id="search"
                                            class="input is-rounded"
                                            type="text"
                                            placeholder="Fender Telecaster"
                                            v-model="search"
                                    >
                                </div>
                            </div>
                        </div>
                        <div class="column is-4">
                            <div class="field">
                                <label class="label" for="order">Order</label>
                                <div class="control">
                                    <div class="select is-fullwidth">
                                        <select id="order" v-model="order">
                                            <option value="price">Price, ascending</option>
                                            <option value="-price">Price, descending</option>
                                            <option value="availability">Availability, ascending</option>
                                            <option value="-availability">Availability, descending</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="column is-4">
                            <div class="field">
                                <label class="label" for="retailer">Retailer</label>
                                <div class="control">
                                    <div class="select is-fullwidth">
                                        <select id="retailer" v-model="retailer">
                                            <option value="">all</option>
                                            <option value="Thomann">Thomann</option>
                                            <option value="Musik Produktiv">Musik Produktiv</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card my-5" v-for="product in products">
                        <div class="card-content">
                            <div class="columns">
                                <div class="column is-1 has-text-centered-mobile">
                                    <img :src="product.thumbnail_url" :alt="product.manufacturer + ' ' + product.model">
                                </div>
                                <div class="column is-5 has-text-centered-mobile">
                                    <div>
                                        <strong>{{ product.manufacturer }} {{ product.model }}</strong>
                                    </div>
                                    <div>
                                        {{ product.availability_info }}
                                    </div>
                                </div>
                                <div class="column has-text-centered-mobile has-text-right-tablet">
                                    <div>
                                        <a :href="product.product_url" class="button is-link" target="_blank">
                                            {{ product.price }} € @ {{ product.retailer }}
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

<script src="/static/vue.js"></script>
<script src="/static/lefty.js"></script>
</body>
</html>