{{define "nav"}}
    <nav class="navbar is-primary py-3">
        <div class="container">
            <div class="navbar-brand">
                <a class="navbar-item" href="/">
                    lefty
                </a>
            </div>
        </div>
    </nav>
{{end}}