@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Open Sans:400,700');

$family-sans-serif: "Open Sans", sans-serif;

$primary: #DCCCBB;

.navbar {
  font-weight: 700;
}

@import "../node_modules/bulma/bulma";